.wrap {
  .group {
    .input_item {
      width: 160px;
    }
    & :nth-child(3) {
      :global {
        .ant-select-selection {
          border-left: none;
        }
      }
    }
    .input_item_disabled {
      width: 30px;
      text-align: center;
      background-color: #fff;
      border-left: none;
      pointer-events: none;
    }
  }
}
