# IDE
/.vscode/
/.idea/
.DS_Store
.env*

# dependencies
/node_modules
/**/*/node_modules
/npm-debug.log*
/yarn-error.log

# production
packages/**/*/es
packages/**/*/lib
packages/**/*/dist
packages/**/*/unpkg
packages/**/*/build
*.tgz

# umi
.umi
.umi-production
.umi-test
.env.local

# testing and checking
/coverage
/tsc
/.tsc-check

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 自动生成
CHANGELOG.md
/packages/mlz-admin/src/index.tsx
/packages/mlz-adminer/src/index.tsx
/packages/mlz-adminer/src/**/config.ts

# specified config
/config/*
!/config/.gitkeep
