# IDE
/.vscode/
/.idea/
.DS_Store
.env*

# dependencies
/node_modules
/**/*/node_modules
/npm-debug.log*
/yarn-error.log

# production
/dist
/unpkg
/es
/lib
/build
# 不需要index.tsx，它会在dist时自动生成
/src/index.tsx
*.tgz

# umi
.umi
.umi-production
.umi-test
.env.local

# testing and checking
/coverage
/tsc
/.tsc-check

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 自动生成
CHANGELOG.md
