# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# IDE
/.vscode/
/.idea/

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist
/es
/lib
/build
/undefined
.DS_Store
.env*
*.tgz

# umi
.umi
.umi-production
.umi-test
.env.local

# testing
/coverage
/tsc
/.tsc-check
