**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production
.umi-test

/build
**/*.svg
bin/
.vscode/
.idea/
coverage/
*.json
**/*.json
**/*.sh
yarn-error.log

package.json
.gitignore
.babelrc
.prettierrc
.npmignore
.prettierignore
.editorconfig
.DS_Store
*.yml
